<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!--JDBC-->
    <!--引入datebase.properties文件-->
    <properties resource="database.properties"/>
    <settings>
        <!--配置日志实现方式为log4j-->
        <setting name="logImpl" value="LOG4J"/>
        <!--<setting name="autoMappingBehavicor" value="pstyial"/>-->
    </settings>
    <!--配置实体类的别名-->
    <typeAliases>
        <package name="com.bianlidian.pojo"></package>
    </typeAliases>
    <!--配置mybatis运行环境-->
    <environments default="development">
        <environment id="development">
            <!--事务-->
            <transactionManager type="JDBC"></transactionManager>
            <!--配置数据源，类型为mybatis自带的POOLED-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"></property>
                <property name="url" value="${url}"></property>
                <property name="username" value="${user}"></property>
                <property name="password" value="${pwd}"></property>
            </dataSource>
        </environment>
    </environments>
    <!--放射mapper文件-->
    <mappers>
        <mapper resource="com/bianlidian/mapper/T_Sys_UserMapper.xml"></mapper>
    </mappers>
</configuration>